## Introdução
Time Series (TS) - é uma série de pontos de dados indexados (ou listados ou representados graficamente) por ordem de tempo. É considerado uma das habilidades menos conhecidas no espaço de análise. Os dados são organizados em torno de registros de tempo relativamente determinísticos e, portanto, comparados a amostras aleatórias, podem conter informações adicionais que para se extrair.

In [12]:
# libs
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

In [13]:
path_data = 'data/AirPassengers.csv'
data = pd.read_csv(path_data)
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
# tipos de dados
data.dtypes

Month          object
#Passengers     int64
dtype: object

#### Tratar os dados para se ajustar a uma série temporal 
Os dados contêm um mês e um número específicos de passageiros viajando naquele mês. Mas isso ainda não é lido como um objeto TS, pois os tipos de dados são "objeto" e "int". Para ler os dados como uma série temporal, temos que passar argumentos especiais para o comando read_csv:

In [4]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
data = pd.read_csv(path_data, parse_dates=['Month'], index_col='Month',date_parser=dateparse)
data.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

Em uma sériem temporal no **pandas**, os índices é o atributo de tempo.

In [5]:
# 
data.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [6]:
data.keys()

Index(['#Passengers'], dtype='object')

In [7]:
ts = data['#Passengers']
ts.head(10)

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
1949-06-01    135
1949-07-01    148
1949-08-01    148
1949-09-01    136
1949-10-01    119
Name: #Passengers, dtype: int64

In [8]:
# forma de acessar as linhas de uma série
## existem duas maneirias

ts['1949-01-01'] # inserindo o atributo chave

112

In [9]:
# usando a modulo datatime
from datetime import datetime
ts[datetime(1949,1,1)]

112

In [10]:
# vendo todos os dados até maio de 1949
ts['1949-01-01':'1949-05-01'] # ou ts[:'1949-05-01']

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

In [11]:
# instancia de todos os valores naquele ano x
ts['1949']

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
1949-06-01    135
1949-07-01    148
1949-08-01    148
1949-09-01    136
1949-10-01    119
1949-11-01    104
1949-12-01    118
Name: #Passengers, dtype: int64

### Como verificar o estacionarismo de uma série temporal?
Uma TS é considerada estacionária se suas propriedades estatísticas, como média, variância permanecer constante ao longo do tempo. Mas por que isso é importante? A maioria dos modelos TS trabalha no pressuposto de que o TS é estacionário. Intuitivamente, podemos afirmar que se um TS tem um comportamento particular ao longo do tempo, existe uma probabilidade muito alta de que ele siga o mesmo no futuro. Além disso, as teorias relacionadas a séries estacionárias são mais maduras e mais fáceis de implementar em comparação com séries não estacionárias.

## Referências
   * [Analytics Vidhya - A comprehensive beginner’s guide to create a Time Series Forecast (with Codes in Python)](https://www.analyticsvidhya.com/blog/2016/02/time-series-forecasting-codes-python/)
   * [Dmitriy Sergeev - Medium](https://medium.com/open-machine-learning-course/open-machine-learning-course-topic-9-time-series-analysis-in-python-a270cb05e0b3)